/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 mar 2025, 16:48:32
    Author     : plope
*/

.menu {
    -fx-position: sticky;
    -fx-top: 0;
    -fx-pref-width: 100%;
    -fx-pref-height: 144px; /* 36 * 4 (asumiendo 1rem = 16px) */
    -fx-padding: 0 64px; /* 16 * 4 (px-16 en Tailwind) */
    -fx-display: flex;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to right, #537a5a, #2c302e);
}
